# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente local obrigatório
.venv/
venv/

# Variáveis de ambiente
.env

# Testes / ferramentas
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Dados locais
data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep